@page
@model CRUD_ASP_NET_MS_SQL.Pages.Clients.CreateModel
@{
}


<br />
<h2>Adicionar Cliente</h2>

<form method="POST">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nome</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="name" value="" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Email" value="" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Telefone</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="phone" value="" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Endereço</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="address" value="" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Agendamento</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="appointment" value="" />
        </div>
    </div>

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">Cancelar</a>
        </div>
    </div>
</form>