@page
@model CRUD_ASP_NET_MS_SQL.Pages.Clients.IndexModel
@{
}


<br/>
<h2>Lista de Clientes</h2>
<a class="btn btn-primary btn-sm" href="/Clients/Create">Novo Cliente</a>
<table action="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Endereço</th>
            <th>Agendamento</th>
            <th>Serviço</th>
            <th>Ação</th>
        </tr>
    </thead>
</table>