a.navbar-brand[b-adymwmr6sc] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-adymwmr6sc] {
  color: #0077cc;
}

.btn-primary[b-adymwmr6sc] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-adymwmr6sc], .nav-pills .show > .nav-link[b-adymwmr6sc] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-adymwmr6sc] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-adymwmr6sc] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-adymwmr6sc] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-adymwmr6sc] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-adymwmr6sc] {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
